$color-ffffff:#ffffff;
$color-F6DDC9:#F6DDC9;
$color-DD6031:#DD6031;
$color-F7F7F7:#F7F7F7;
$color-0B4ABE:#0B4ABE;
$color-04B6D6:#04B6D6;
$color-DDDDDD:#DDDDDD;
$color-2D5DE8:#2D5DE8;
$color-E6EFFF:#E6EFFF;
$color-135ADE:#135ADE;
$color-FEF9E5:#FEF9E5;